<!DOCTYPE html>
<html lang="zh">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>基于树莓派的考生身份辅助核查系统</title>

    <link rel="stylesheet" type="text/css" href="{% static '/index/css/index.css' %}">
</head>

<body>
    <div class="header">
        <div class="logo"><img src="{% static '/index/icos/logo.png' %}" /></div>
        <span>基于树莓派的考生身份辅助核查系统</span>
        <div class="menu">
            <ul>
                <li><a href="mailto:2291921855@qq.com">联系我们</a></li>
                <li><a href="admin">登录</a></li>
            </ul>
        </div>
    </div>
    <div class="show">
        <img src="{% static '/index/icos/1.jpg' %}">
    </div>

</body>

</html>